<!-- WORKSPACE NAME HERO -->
<section class="hero-workspace is-small is-primary">
  <div class="hero-body">
    <p class="title">
      {{this.workspaceName}}
    </p>
    <div class="buttons">
      <button class="button is-primary" (click)="toggleModal(addRoleModal)">+ Create Role</button>
      <button class="button is-primary" (click)="toggleModal(addResponsibilityModal)">+ Create Responsibility</button>
      <button class="button is-primary" (click)="getRolesInMoreThanOneTeam(viewRolesModal)">View Roles</button>
      <button class="button is-primary" (click)="getWorkspaceResponsibilities(viewResponsibilitiesModal)">View Roles</button>
    </div>
  </div>
</section>
<hr class="rounded">

<!-- TEAM PAGE  NAME AND BUTTON HERO -->
<section class="heroTeamName is-small is-primary" *ngIf="this.teamsArray.length>0 && !this.firstLoad" >
  <div class="hero-body">
    <p class="title">
      {{this.teamsArray[this.selectedTeam].name}}
    </p>
    <div class="buttons">
      <button class="button is-link" (click)="toggleModal(assignRoleToTeamModal)">+ Add Role to Team</button>
      <button class="button is-danger" (click)="deleteTeamInWorkspace(this.teamsArray[this.selectedTeam].id)">Delete Team</button>
    </div>
  </div>
</section>

<!-- TEAM TAB HERO -->
<section class="hero is-fullheight">
  <div class="hero-body" *ngIf="!this.firstLoad">
    <div class="container has-text-centered" *ngIf="this.teamsArray.length>0">
      <p class="subtitle"*ngIf="this.teamsArray[this.selectedTeam].teamAssignedRoles.length <= 0">
        This is the {{this.teamsArray[this.selectedTeam].name}} team page!
        <br>
        It has no roles yet.
      </p>

<!-- ASIDE MENU -->
<!-- <aside class="menu">
  <p class="menu-label">
    Project Management
  </p>
  <ul class="menu-list">
    <li><a>Create Role</a></li>
    <li><a>Create Responsability</a></li>
    <li><a>View created Roles</a></li>
  </ul>
  <p class="menu-label">
    Team Management
  </p>
  <ul class="menu-list">
    <li><a>Team Settings</a></li>
    <li>
      <a class="is-active">Manage Your Team</a>
      <ul>
        <li><a>Members</a></li>
        <li><a>Plugins</a></li>
        <li><a>Add a member</a></li>
      </ul>
    </li>
    <li><a>Invitations</a></li>
    <li><a>Cloud Storage Environment Settings</a></li>
    <li><a>Authentication</a></li>
  </ul>
  <p class="menu-label">
    Transactions
  </p>
  <ul class="menu-list">
    <li><a>Payments</a></li>
    <li><a>Transfers</a></li>
    <li><a>Balance</a></li>
  </ul>
</aside> -->

      <div class="container has-text-centered" *ngIf="this.teamsArray[this.selectedTeam].teamAssignedRoles.length > 0">
        <app-team-view [teamAssignedRoles]="this.teamsArray[this.selectedTeam].teamAssignedRoles"></app-team-view>
      </div>
    </div>
    <div class="container has-text-centered" *ngIf="this.teamsArray.length<=0">
      <p class="title">
        This Project has no teams!
      </p>
      <p class="subtitle">
        Why dont you create one?
      </p>
    </div>
  </div>


  <div class="hero-body" *ngIf="this.firstLoad">
    <div class="container has-text-centered">
      <p class="title" *ngIf="this.teamsArray.length<=0"> This workspace has no teams yet! </p>
      <p class="subtitle" *ngIf="this.teamsArray.length<=0"> You should start by creating one with the button below</p>
      <p class="title" *ngIf="this.teamsArray.length>0"> No team selected!</p>
      <p class="subtitle" *ngIf="this.teamsArray.length>0"> You can select one of the options below</p>
    </div>
  </div>


  <!-- TABS -->
  <div class="hero-foot">
    <nav class="tabs is-centered is-boxed is-medium">
      <div class="container">
        <ul #tabs>
          <li class="tab" *ngFor="let team of teamsArray; let i = index;" (click)="selectTeam(i,tabs)">
            <a class="names">{{team.name}}</a>
          </li>
          <li class="add-team-tab" (click)="toggleModal(addTeamModal)">
            <a>
              <span> + Add Team </span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>

<!-- MODAL TO CREATE A NEW ROLE IN THIS WORKSPACE -->
<div class="modal is-dark" #addRoleModal>
  <div class="modal-background is-dark"></div>
  <div class="modal-card is-dark">
    <header class="modal-card-head is-dark">
      <p class="modal-card-title">Add New Role</p>
      <button class="delete" aria-label="close" (click)="toggleModal(addRoleModal)"></button>
    </header>
    <section class="modal-card-body">
      <!-- MODAL CONTENT -->
      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input class="input" type="text" placeholder="e.g Software Engineer" #roleName>
        </div>
      </div>

      <div class="field">
        <label class="label">Description</label>
        <div class="control">
          <input class="input" type="text" placeholder="e.g. Description of a Software Engineer" #roleDesc>
        </div>
      </div>

      <label class="label">Choose a Model Role</label>
      <div class="select">
        <select #modelRoleSelection>
          <option *ngFor="let modelRole of modelRoles;">
            {{modelRole.name}}
          </option>
        </select>
      </div>

      <button class="button is-link" (click)="copyModelRole(modelRoleSelection.value, roleName, roleDesc)"> Confirm Selection </button>
       <!-- MODAL CONTENT -->
    </section>
    <footer class="modal-card-foot">
      <button class="button is-link" (click)="createRoleInWorkspace(roleName.value, roleDesc.value, addRoleModal)" >Create Role</button>
      <button class="button is-link is-light" (click)="toggleModal(addRoleModal)" >Cancel</button>
    </footer>
  </div>
</div>

<!-- MODAL TO ADD SOME ROLE TO A TEAM!-->
<div class="modal is-dark" #assignRoleToTeamModal>
  <div class="modal-background is-dark"></div>
  <div class="modal-card is-dark">
    <header class="modal-card-head is-dark">
      <p class="modal-card-title">Assign a Role to a Team</p>
      <button class="delete" aria-label="close" (click)="toggleModal(assignRoleToTeamModal)"></button>
    </header>
    <section class="modal-card-body">
      <!-- MODAL CONTENT -->
      <label class="label">Choose which role will be assigned </label>
      <div class="select">
        <select #RoleSelection>
          <option *ngFor="let role of workspaceRoles;">
            {{role.name}}
          </option>
        </select>
      </div>
       <!-- MODAL CONTENT -->
    </section>
    <footer class="modal-card-foot">
      <button class="button is-link"(click)="assignRoleToTeam(RoleSelection.value, assignRoleToTeamModal, tabs)">Assign Role</button>
      <button class="button is-link is-light" (click)="toggleModal(assignRoleToTeamModal)" >Cancel</button>
    </footer>
  </div>
</div>

<!-- MODAL TO CREATE A NEW TEAM IN THIS WORKSPACE -->
<div class="modal is-dark" #addTeamModal>
  <div class="modal-background is-dark"></div>
  <div class="modal-card is-dark">
    <header class="modal-card-head is-dark">
      <p class="modal-card-title">Add New Team</p>
      <button class="delete" aria-label="close" (click)="toggleModal(addTeamModal)"></button>
    </header>
    <section class="modal-card-body">
      <!-- MODAL CONTENT -->
      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input class="input" type="text" placeholder="e.g Software Engineer" #teamName>
        </div>
      </div>
       <!-- MODAL CONTENT -->
    </section>
    <footer class="modal-card-foot">
      <button class="button is-link" (click)="createTeamInWorkspace(teamName.value, addTeamModal)" >Create Team</button>
      <button class="button is-link is-light" (click)="toggleModal(addTeamModal)">Cancel</button>
    </footer>
  </div>
</div>

<!--MODAL TO VIEW ROLES IN WORKSPACE-->
<div class="modal is-dark" #viewRolesModal>
  <div class="modal-background is-dark"></div>
  <div class="modal-card is-dark">
    <header class="modal-card-head is-dark">
      <p class="modal-card-title">Roles in this Workspace</p>
      <button class="delete" aria-label="close" (click)="toggleModal(viewRolesModal)"></button>
    </header>
    <section class="modal-card-body">
      <!-- MODAL CONTENT -->
      <div class="viewRoles">
        <h1> List of Roles: </h1>
        <div class="listRoleElement" *ngFor="let role of workspaceRoles">
          <li> {{role.name}} </li>
        </div>
        <h1> Roles in more than one team: </h1>
        <div class="listRoleInMany" *ngFor="let role of rolesInMany">
          <li> {{role.name}} </li>
        </div>
      </div>
       <!-- MODAL CONTENT -->
    </section>
    <footer class="modal-card-foot">
      <button class="button is-link is-light" (click)="toggleModal(viewRolesModal)">Close</button>
    </footer>
  </div>
</div>

<!-- MODAL TO CREATE A NEW RESPONSIBILITY IN THIS WORKSPACE -->
<div class="modal is-dark" #addResponsibilityModal>
  <div class="modal-background is-dark"></div>
  <div class="modal-card is-dark">
    <header class="modal-card-head is-dark">
      <p class="modal-card-title">Add New Responsibility</p>
      <button class="delete" aria-label="close" (click)="toggleModal(addResponsibilityModal)"></button>
    </header>
    <section class="modal-card-body">
      <!-- MODAL CONTENT -->

      <div class="field">
        <label class="label">Description</label>
        <div class="control">
          <input class="input" type="text" placeholder="e.g. Description of a Responsibilty" #responsibilityDesc>
        </div>
      </div>

      <label class="label">Choose a Model Responsibility</label>
      <div class="select">
        <select #modelResponsibilitySelection>
          <option *ngFor="let modelResponsibility of modelResponsibilities;">
            {{modelResponsibility.description}}
          </option>
        </select>
      </div>

      <button class="button is-link" (click)="copyModelResponsibility(modelResponsibilitySelection.value, responsibilityDesc)"> Confirm Selection </button>
       <!-- MODAL CONTENT -->
    </section>
    <footer class="modal-card-foot">
      <button class="button is-link" (click)="createResponsibilityInWorkspace(responsibilityDesc.value, addResponsibilityModal);" >Create Responsibility</button>
      <button class="button is-link is-light" (click)="toggleModal(addResponsibilityModal)">Cancel</button>
    </footer>
  </div>
</div>

<!--MODAL TO VIEW RESPONSIBILITIES IN WORKSPACE-->
<div class="modal is-dark" #viewResponsibilitiesModal>
  <div class="modal-background is-dark"></div>
  <div class="modal-card is-dark">
    <header class="modal-card-head is-dark">
      <p class="modal-card-title">Responsibilities in this Workspace</p>
      <button class="delete" aria-label="close" (click)="toggleModal(viewResponsibilitiesModal)"></button>
    </header>
    <section class="modal-card-body">
      <!-- MODAL CONTENT -->
      <div class="viewRoles">
        <h1> List of Responsibilities: </h1>
        <div class="listRoleElement" *ngFor="let responsibility of workspaceResponsibilities">
          <li> {{responsibility.description}} </li>
        </div>
      </div>
       <!-- MODAL CONTENT -->
    </section>
    <footer class="modal-card-foot">
      <button class="button is-link is-light" (click)="toggleModal(viewResponsibilitiesModal)">Close</button>
    </footer>
  </div>
</div>

