

$tabs-link-color: #FA7C91
$tabs-link-hover-color: white

$tabs-boxed-link-hover-background-color: #8A4D76
$tabs-boxed-link-active-background-color: #1e1e3a
$tabs-boxed-link-active-border-color: #FA7C91

.hero
  .hero-body
    .container
      .title
        color: #47d7ac
      .subtitle
        color: #91E7CD

@import "../../../../../styles.sass"





