
$tabs-link-color: #FA7C91
$tabs-link-hover-color: white

$tabs-boxed-link-hover-background-color: #8A4D76
$tabs-boxed-link-active-background-color: #1e1e3a
$tabs-boxed-link-active-border-color: #FA7C91

.rounded
  border-top: 8px solid #47d7ac
  border-radius: 3px
.hero-workspace
  .hero-body
    display: flex
    padding-bottom: 0.0rem
    max-height: 95px
    .title
      grid-area: logo
      color: #47d7ac
      max-width: 40%
      padding-right: 5%
    .buttons
      padding-bottom: 3%

.hero1
  .hero-body
    display: flex
    flex-wrap: wrap
    .title
      grid-area: logo
      color: #47d7ac
      max-width: 40%
      padding-right: 5%
    .buttons
      padding-bottom: 3%

.hero
  .hero-body
    .title
      color: #47d7ac
    .container
      .title
        color: #47d7ac
      .subtitle
        color: #91E7CD

@import "../../../../../styles.sass"





