.container
  display: flex

.boxes
  display: flex
  flex-wrap: wrap
  margin: 0.5rem
  .box
    width: 30%
    margin: 0.5rem
    background-color: #1e1e3a
    color: #8A4D76
    .title
      color: #47d7ac


.responsibility-selection
  display: none
  margin-top: 20px
  &.is-active
    display: block

.responsibility-creation
  display: none
  margin-top: 20px
  &.is-active
    display: block

.resp-buttons
  margin-left: 15em

.button
  margin: 5px
