.container
  display: flex

.boxes
  display: flex
  flex-wrap: wrap
  margin: 0.5rem
  .box
    max-width: 30%
    margin: 0.5rem
    background-color: #1e1e3a
    color: #8A4D76
    .title
      color: #47d7ac
